<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Sentiment Analyzer</title>
    </head>

    <body>
        <header>
            <h1>
               Sentient Analyzer
            </h1>
    </header>

        <main>
            <p>Enter a URL of an article</p>
            <section>
       
                <form id="urlForm">
                    <input id="url" type="text" name="url"  placeholder="Enter URL here" required>
                    <button type="submit" id="btn-sub">Submit</button>
                </form>
            </section>
    
            <section>
                <strong>Form Results:</strong>
                <div id="polarity"></div>
                <div id="agreement"></div>
                <div id="subjectivity"></div>
                <div id="confidence"></div>
                <div id="irony"></div>
            </section>
        </main>
       
    </body>


</html>